@import "../global/mixins";

.content-row {
  display: flex;
  justify-content: space-between;

  @include for-tablet-landscape-up {
    & {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include for-tablet-portrait-up {
    & {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}