body {
  margin: 0;
}

.wrapper {
  width: 100%;
}

.content-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 110px 150px 140px 150px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.content-container_column {
  flex-direction: column;
  justify-content: center;
}

.content-container_header {
  padding: 22px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
}

.content-container_footer {
  height: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.content-container_theme_buildings {
  align-items: baseline;
  background-color: black;
  background-image: url("../images/buildings.png");
  background-size: cover;
}

.content-container_theme_social-media {
  padding: 20px 160px 20px 150px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
  align-items: center;
}

.content-container_theme_features {
  padding: 100px 140px 70px;
  flex-direction: column;
}

.content-container_theme_pricing {
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: center;
}

.nav__items {
  margin: 0;
  display: flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.nav__link {
  opacity: 0.69;
  color: #ffffff;
  font-family: "Open Sans", semibold;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.nav__link:hover {
  opacity: 0.5;
}

.copyright {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.post_centered {
  align-items: center;
}

.post__title {
  margin: 0;
  color: #333333;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.post__title_trinary-color {
  color: #ffffff;
}

.post__title_small {
  margin: 30px 0;
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.post__title_centered {
  text-align: center;
}

.post__text {
  max-width: 470px;
  margin: 0;
  margin-bottom: 45px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.post__text_secondary-color {
  color: #ffffff;
}

.post__text_centered {
  text-align: center;
}

.post__text_with-bg {
  opacity: 0.8;
  color: #86878b;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}

.post__text_without-margins {
  margin: 0;
}

.post__separator {
  margin-top: 30px;
  margin-bottom: 30px;
}

.post__image-container {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 15px 32px;
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  font-family: "Open Sans", semibold;
  font-size: 15px;
  font-weight: 400;
}
.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.button_colored {
  border-color: #ff8b38;
  border-radius: 2px;
  background-color: #ff8b38;
}

.button_large {
  width: 360px;
  box-sizing: border-box;
}

.registration-form {
  max-width: 360px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.registration-form__title {
  width: 360px;
  padding: 15px 50px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
}

.registration-form__title_colored {
  color: #ff8b38;
}

.registration-form__input {
  height: 31px;
  margin: 0 40px;
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
}

.registration-form__input_name {
  margin-top: 30px;
}

.registration-form__input_email {
  margin-top: 35px;
}

.registration-form__input_password {
  margin-top: 45px;
  margin-bottom: 50px;
}

.content-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.content-row__item:not(:last-child) {
  margin-right: 30px;
}

.content-row_align-left {
  justify-content: flex-start;
}

.content-row_align-center {
  align-items: center;
}

.content-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-media {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 634px;
  height: 46px;
}

.card__title-section {
  width: 343px;
  height: 60px;
  box-sizing: border-box;
  background-color: #333333;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__price-section {
  width: 343px;
  height: 100px;
  box-sizing: border-box;
  background-color: #333333;
  background-color: #333333;
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card__price {
  margin: 0;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 94px;
  font-weight: 700;
}

.card__price_small {
  font-size: 35px;
}

.card__footnote {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans", semibold;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.card__footnote-section {
  width: 343px;
  height: 50px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__comment-section {
  height: 40px;
  background-color: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__comment-section_thin {
  height: 5px;
}

.card__term-section {
  width: 343px;
  height: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #f5f5f5;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  max-width: 273px;
  display: flex;
  flex-direction: column;
}

.comment__body {
  background-image: url("../images/comment-bg.png");
  background-size: cover;
}

.comment__text {
  margin: 24px 12px 41px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.comment__author {
  margin: 0;
  margin-left: 15px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
}

.comment__subtitle {
  margin: 0;
  margin-left: 15px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
