.site-header {
  height: 61px;
  margin-left: 69px;
  margin-right: 68px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .site-header {
    overflow: hidden;
  }
}