@import "../global/variables";

.input {
  height: 31px;
  margin: 0 40px;
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
  outline: none;

  &::placeholder {
    color: $placeholder-color;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
  }
}