@import "../../global/variables";

.footnote_registration {
  opacity: 0.6;
  color: $text-trinary-color;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}