@import "../global/variables";

.tab-container {
  height: 336px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  

  & > .tab-container__tab:first-child:checked ~ .tab-container__panels > .tab-container__panel:first-child,
  & > .tab-container__tab:nth-child(3):checked ~ .tab-container__panels > .tab-container__panel:nth-child(2),
  & > .tab-container__tab:nth-child(5):checked ~ .tab-container__panels > .tab-container__panel:nth-child(3) {
    display: block;
  }

  & > .tab-container__tab:checked + .tab-container__label {
    background: $button-bg-color;
  }
}