html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

@import "wrapper/wrapper.scss";
@import "wrapper/_theme_welcome-video/wrapper_theme_welcome-video.scss";
@import "wrapper/_theme_quotes/wrapper_theme_quotes.scss";
@import "wrapper/_theme_registration/wrapper_theme_registration.scss";
@import "wrapper/_theme_features/wrapper_theme_features.scss";
@import "wrapper/_theme_footer/wrapper_theme_footer.scss";
@import "wrapper/_theme-rectangle/wrapper_theme-rectangle.scss";
@import "wrapper/_triangle-bg/wrapper_triangle-bg.scss";
@import "wrapper/__rectangle/wrapper__rectangle.scss";
@import "content-container/content-container.scss";
@import "content-container/_video/content-container_video.scss";
@import "content-container/_theme_features/content-container_theme_features.scss";
@import "content-container/_theme_quotes/content-container_theme_quotes.scss";
@import "content-container/_with-browser/content-container_with-browser.scss";
@import "content-container/_theme_registration/content-container_theme_registration.scss";
@import "content-container/_row/content-container_row.scss";
@import "content-container/_centered/content-container_centered.scss";
@import "content-container/_rectangle-bg/content-container_rectangle-bg.scss";
@import "video-bg/video-bg.scss";
@import "site-label/site-label.scss";
@import "logo/logo.scss";
@import "button/button.scss";
@import "button/_small/button_small.scss";
@import "button/_large/button_large.scss";
@import "button/_covered/button_covered.scss";
@import "button/_disabled/button_disabled.scss";
@import "button/__logo/button__logo.scss";
@import "play-container/play-container.scss";
@import "play-container/__logo/play-container__logo.scss";
@import "footnote/footnote.scss";
@import "footnote/_registration/footnote_registration.scss";
@import "footnote/_undescored/footnote_underscored.scss";
@import "post/post.scss";
@import "post/_center/post_center.scss";
@import "post/__subtitle/post__subtitle.scss";
@import "post/__title/post__title.scss";
@import "post/__title/_small/post__title_small.scss";
@import "post/__text/_center/post__text_center.scss";
@import "post/__text/post__text.scss";
@import "post/__text/_secondary-color/post__text_secondary-color.scss";
@import "post/__text/_small/post__text_small.scss";
@import "post/__title/_secondary-color/post__title_secondary-color.scss";
@import "post/__title/_centered/post__title_centered.scss";
@import "post/__subtitle/_small/post__subtitle_small.scss";
@import "post/__subtitle/_centered/post__subtitle_centered.scss";
@import "post/__dots/post__dots.scss";
@import "row/row.scss";
@import "browser/browser.scss";
@import "browser/__background/browser__background.scss";
@import "registration-form/registration-form.scss";
@import "registration-form/__trial-info/registration-form__trial-info.scss";
@import "input/input.scss";
@import "input/_secondary-color/input_secondary-color.scss";
@import "footer-container/footer-container.scss";
@import "links-section/links-section.scss";
@import "links-section/__list/links-section__list.scss";
@import "links-section/__link/links-section__link.scss";
@import "links-section/__logo-bg/links-section__logo-bg.scss";
@import "links-section/__title/links-section__title.scss";
@import "links-section/__title/_with-logo/links-section__title_with-logo.scss";
@import "links-section/__text/links-section__text.scss";
@import "links-section/__icon/social-media-links__icon.scss";
@import "social-media-links/social-media-links.scss";
@import "social-media-links/__link/social-media-links__link.scss";