body {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
}

.wrapper_theme_welcome-video {
  height: 100vh;
  background-image: url("../images/welcome-video-bg.png");
  background-position: center;
  background-size: cover;
}

.wrapper_theme_quotes {
  background-image: url("../images/quotes-bg.png");
  background-size: cover;
}

.content-container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 140px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container_video {
  max-width: 750px;
  padding: 0;
}

.content-container_theme_features {
  background: url("../images/pen-holder.png") 7% 0%, url("../images/earphones.png") 88% -2%, url("../images/coffee-cup.png") 93% 100%, #f6f5f3;
  background-repeat: no-repeat;
}

.content-container_theme_quotes {
  padding: 20px 150px 80px 110px;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-container_with-browser {
  padding-top: 100px;
  padding-bottom: 0;
}

.content-container_theme_registration {
  margin-bottom: 0;
  background-image: url("../images/registration-bg.png");
  background-size: cover;
}

.content-container_row {
  flex-direction: row;
}

.site-label {
  margin: 0;
  color: #282828;
  font-family: "Exo", thin;
  font-size: 60px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 2.4px;
  text-align: center;
}

.button {
  padding: 15px 50px;
  border-radius: 3px;
  background-color: #ff6d6d;
  color: #ffffff;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.button_small {
  padding: 13px 15px;
}

.button_covered {
  position: relative;
  top: 3px;
  left: -58px;
}

.play-container {
  width: 59px;
  height: 59px;
  margin: 40px 0;
  background-color: #323969;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-container__logo {
  margin-left: 5px;
}

.footnote {
  margin: 0;
  margin-top: 20px;
  opacity: 0.6;
  color: #282828;
  font-family: "Exo";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.post:not(:first-child) {
  margin-left: 40px;
}

.post_center {
  max-width: 1200px;
  align-items: center;
}

.post__subtitle {
  margin: 0;
  color: #ff6d6d;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.post__title {
  margin: 0;
  margin-top: 16px;
  color: #282828;
  font-family: "Exo";
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1.6px;
}

.post__title_small {
  margin: 0;
  margin-top: 30px;
  color: #282828;
  font-family: "Exo";
  font-size: 22px;
  font-weight: 500;
  line-height: 49.97px;
  letter-spacing: 0.88px;
}

.post__text_center {
  text-align: center;
}

.post__text {
  margin: 0;
  margin-top: 45px;
  opacity: 0.66;
  color: #282828;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.post__text_secondary-color {
  color: #ffffff;
}

.post__text_small {
  max-width: 700px;
  margin: 0;
  margin-top: 19px;
}

.post__title_secondary-color {
  color: #ffffff;
}

.post__dots {
  font-family: "Exo";
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  color: #ff6d6d;
  letter-spacing: 1.6px;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.browser {
  width: 820px;
  height: 375px;
  margin-top: 90px;
  background: url("../images/browser.png") 50% 50%;
  background-repeat: no-repeat;
}

.browser__background {
  width: 768px;
  height: 322px;
  margin: 52px 26px 0 26px;
  background-image: url("../images/browser-bg.png");
  background-repeat: no-repeat;
}

.registration-form {
  margin-top: 100px;
  display: flex;
  align-items: baseline;
}

.registration-form__input {
  margin-right: 30px;
  padding: 14px 70px 14px 30px;
  color: #f6f5f3;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.64px;
}

.input {
  width: 263px;
  height: 49px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #f6f5f3;
  background-image: url("../images/input-bg.svg");
  background-size: cover;
  opacity: 0.5;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.64px;
}

.input_secondary-color {
  border-color: #4e4e5e;
}

.input_email {
  padding-left: 29px;
}

.footer-container {
  padding: 85px 340px 85px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links-section {
  flex-shrink: 0;
  flex-grow: 0;
}

.links-section__list {
  padding: 0;
  list-style-type: none;
}

.links-section__link {
  opacity: 0.66;
  color: #282828;
  font-family: "Exo";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.56px;
}

.links-section__logo-bg {
  position: relative;
  z-index: 1;
  padding-left: 5px;
  color: #ffffff;
}

.links-section__title {
  color: #2c2f49;
  font-family: "Lato";
  font-size: 27px;
  font-weight: 400;
  line-height: 33.6px;
}

.links-section__title_with-logo {
  position: relative;
}
.links-section__title_with-logo::after {
  position: absolute;
  top: -15%;
  left: 27%;
  width: 42px;
  height: 47px;
  content: url("../images/logo-bg.svg");
}

.links-section__text {
  width: 230px;
  opacity: 0.56;
  color: #282828;
  font-family: "Exo";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.56px;
}

/*# sourceMappingURL=main.css.map */
