@import "../../global/variables";

.card__title-section {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background-color: $card-section-bg-color;
  border-bottom: 1px solid $border-primary-color;
  color: $text-secondary-color;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}