body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
}

.wrapper {
  padding-top: 12vh;
  padding-bottom: 12vh;
}

.wrapper:first-child {
  padding: 0;
  padding-top: 26vh;
}

.wrapper:last-child, .wrapper:nth-last-child(2) {
  padding: 0;
}

.wrapper:nth-last-child(3) {
  padding-top: 0;
}

.wrapper__theme_services {
  background: url('../images/ServicesBG.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 12vh;
  border: 2px solid black;
  color: white;
}

.wrapper:first-child > .container {
  padding: 0;
}

.wrapper:last-child > .container {
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.wrapper:first-child > .container {
  height: 74vh;
}

.container__border_none {
  border: none;
}

.container__border_white {
  border-color: white;
}

.container__color_black {
  color: black;
}

.container__services {
  border-top: none;
}

.container__services__header:before, .container__services__header:after {
  display: table-cell;
  white-space: nowrap;
  content: "";
  border-top: 2px solid white;
  width: 50%;
}

.container__services__header > span {
  display: table-cell;
  white-space: nowrap;
  padding: 0 10px;
  position: relative;
  top: -15px;
}

.container__header {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 9px;
  margin: 0 auto;
  margin-top: -14vh;
  z-index: 1;
  width: 450px;
  background-color: white;
}

.container__services__header {
  width: 100%;
  margin-top: -12vh;
}

.container__services__header > span {
  padding-left: 120px;
  padding-right: 111px;
}

.container__header__background_none {
  background: none;
}

.container__text {
  margin: 7vh;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.89px;
}

header {
  box-sizing: border-box;
  height: 100vh;
  background: url('../images/WelcomeBG.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__header {
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.62px;
  line-height: normal;
}

.header__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.header__mouse-logo {
  bottom: 0;
  margin-bottom: 10.6vh;
}

.group {
  margin-top: 10vh;
}

.group__header {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
}

.group__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
}

.our-works {
  margin-top: 20.5vh;
  height: 47.7vh;
  background-color: darkcyan;
}

.contact-us__button {
  width: 24vw;
  height: 5.4vh;
  margin-bottom: 4vh;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.54px;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer__text {
  margin-left: 2vw;
  font-size: 14px;
  font-weight: 400;
}

.row {
  display: flex;
}

.row:last-child {
  margin-top: 10px;
}

.item {
  height: 22vh;
  padding-left: 2.5vw;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-basis: 19vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item:nth-child(2) {
  flex-basis: 3;
  flex-grow: 3;
  margin: 0 10px;
}

.item__text {
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
}

.item__topworkz {
  background: url('../images/TopworkzBG.png');
}

.item__joint {
  background: url('../images/JointBG.png');
}

.item__market {
  background: url('../images/MarketBG.png');
}

.item__worktop {
  background: url('../images/WorktopBG.png');
}

.item__lable {
  background: url('../images/LableBG.png');
}

.item__kyiv {
  background: url('../images/KyivBG.png');
}