body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
}

.wrapper {
  max-width: 1920px;
  padding: 75px 150px;
}

.wrapper:first-child {
  padding: 0;
  padding-top: 250px;
}

.wrapper:last-child {
  padding: 0;
  padding-bottom: 50px;
}

.wrapper__theme_services {
  background-image: url('../images/ServicesBG.png');
  background-position: no-repeat no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid black;
  color: white;
  white-space: pre-line;
}

.wrapper:first-child > .content-container {
  padding: 0;
}

.content-container__without_border {
  border: none;
}

.content-container__border_white {
  border-color: white;
}

.content-container__color_black {
  color: black;
}

.content-container__services {
  border-top: none;
}

.content-container__services__header:before, .content-container__services__header:after {
  display: table-cell;
  white-space: nowrap;
  content: "";
  border-top: 2px solid white;
  width: 50%;
}

.content-container__services__header > span {
  display: table-cell;
  white-space: nowrap;
  position: relative;
}

.content-container__header {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 9px;
  margin: 0 auto;
  margin-top: -50px;
  z-index: 1;
  width: 450px;
  background-color: white;
}

.content-container__services__header {
  margin-top: -29px;
  width: 100.3%;
}

.content-container__services__header > span {
  top: -18px;
  padding-left: 120px;
  padding-right: 111px;
}

.content-container__header__background_none {
  background: none;
}

.content-container__text {
  margin: 50px 150px 50px 150px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.89px;
}

.wrapper:first-child > .content-container {
  height: 74vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url('../images/WelcomeBG.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__logo {
  margin-bottom: 60px;
}

.header__header {
  margin: 0;
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.62px;
  line-height: normal;
}

.header__text {
  margin-bottom: 150px;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: .9px;
}

.header__mouse-logo {
  margin-bottom: 115px;
}

.group {
  margin-top: 90px;
}

.group__header {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
}

.group__text {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
}

.our-works {
  margin-top: 20.5vh;
  height: 47.7vh;
  background-color: #008b8b;
}

.contact-us__button {
  width: 24vw;
  height: 5.4vh;
  margin-bottom: 4vh;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.54px;
}

.contact-us__button:hover {
  opacity: 0.5;
}

.footer__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer__text {
  margin-left: 2vw;
  font-size: 14px;
  font-weight: 400;
}

.wrapper:nth-child(5) {
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  height: 22vh;
  margin-top: 10px;
  padding-left: 2.5vw;
  display: flex;
  align-items: flex-end;
  flex: 1 1 20vw;
  background-position: no-repeat no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.item:nth-child(2), .item:nth-child(5) {
  flex-basis: 35vw;
  margin-left: 10px;
  margin-right: 10px;
}

.item:hover {
  opacity: .5;
}

.item__text {
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
}

@media only 
screen and (max-width: 900px),
screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  .content-container__header {
    width: 400px;
  }

  .content-container__services__header {
    width: 100%;
  }

  .content-container__services__header > span {
    padding-left: 85px;
    padding-right: 74px;
}

  .row {
    flex-flow: column nowrap;
  }

  .item {
    flex: 1 1 auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .item:nth-child(2), .item:nth-child(5) {
    flex: 1 1 auto;
  }
}

.item__topworkz {
  background: url('../images/TopworkzBG.png');
}

.item__joint {
  background: url('../images/JointBG.png');
}

.item__market {
  background: url('../images/MarketBG.png');
}

.item__worktop {
  background: url('../images/WorktopBG.png');
}

.item__lable {
  background: url('../images/LableBG.png');
}

.item__kyiv {
  background: url('../images/KyivBG.png');
}