@import "../../global/variables";

.card__footnote-section {
  width: 343px;
  height: 50px;
  background-color: $card-section-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}