.play-container {
  width: 59px;
  height: 59px;
  margin: 40px 0;
  background-color: #323969;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}