.site-title {
  padding-bottom: 0.25em;
  margin: 0;
  display: inline-block;
  color: #000000;
  font-family: Inconsolata;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
}