$primary-font: "Exo";
$secondary-font: "Lato";

$site-label-font: "Exo", thin;

$text-primary-color: #282828;
$text-secondary-color: #ffffff;
$text-trinary-color: #f6f5f3;

$title-primary-color: #2c2f49;

$subtitle-primary-color: #ff6d6d;

$post-dots-color: #ff6d6d;

$button-bg-color: #ff6d6d;

$primary-background-color: #f6f5f3;
$secondary-background-color: #8d8d8d;

$primary-border-color: #ffffff;
$secondary-border-color: #4e4e5e;