$primary-font: "Exo";
$site-label-font: "Exo", thin;

$text-primary-color: #282828;
$text-secondary-color: #ffffff;

$subtitle-primary-color: #ff6d6d;

$post-dots-color: #ff6d6d;

$button-bg-color: #ff6d6d;

$primary-background-color: #f6f5f3;