$primary-font: "Playfair Display";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: $primary-font;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

@import "site-header/site-header.scss";
@import "site-title/site-title.scss";
@import "nav/__items/nav__items.scss";
@import "nav/__item/nav__item.scss";
@import "site-footer/site-footer.scss";
@import "site-footer/__follow/site-footer__follow.scss";
@import "site-footer/__links/site-footer__links.scss";
@import "site-footer/__link/site-footer__link.scss";
@import "site-footer/__socials-links/site-footer__socials-links.scss";
@import "site-footer/__socials-link/site-footer__socials-link.scss";
@import "site-content/site-content.scss";
@import "wrapper/wrapper.scss";
@import "post/post.scss";
@import "post/__image/post__image.scss";
@import "post/__image/_first-post/post__image_first-post.scss";
@import "post/__tag/post__tag.scss";
@import "post/__tag/_first-post/post__tag_first-post.scss";
@import "post/__header/post__header.scss";
@import "post/__text/post__text.scss";
@import "post/__text/_first-post/post__text_first-post.scss";
@import "first-post/first-post.scss";
@import "first-post/__container/first-post__container.scss";
@import "first-post/__leave-a-comment/first-post__leave-a-comment.scss";
