body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: row wrap;
}

.header__logo {
  font-size: 23px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.header__item {
  padding-left: 5vw;
  display: inline-block;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.wrapper {
  padding-left: 12.5vw;
  padding-right: 12.5vw;
}

.container__image {
}

.container__theme {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.container__header {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
}

.container__text {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}