$primary-font: "Open Sans";
$primary-font-bold: "Open Sans", semibold;

$secondary-font: "Raleway";

$primary-color: #ffffff;

$text-primary-color: #86878b;
$text-secondary-color: #ffffff;

$title-primary-color: #333333;
$title-secondary-color: #ff8b38;
$title-trinary-color: #ffffff;

$border-primary-color: #ffffff;

$button-bg-color: #ff8b38;